//
// Desktop styles
// --------------------------------------------------

body {
    font-size: 19px;
}

.slide-wrap {
    height: 100vh;
    padding: 0 0 40px;
}

.features-slides {
    height: 100%;
}

.container {
    max-width: 1430px;
}

.vh100 {
    height: 100vh;
}

.slide-sub-heading {
    font-size: 38px;
    line-height: 48px;
    font-family: 'SanFranciscoDisplay-Light';
}

.slick-list,
.slick-track,
.slick-slide {
    height: 100%;
}

.slick-slide div:first-of-type {
    height: 100%;
}

.desktop-slide-text {
    max-width: 500px;
    height: 180px !important;
    font-size: 19px;
    line-height: 36px;

    h3 {
        font-size: inherit;
        line-height: inherit;
    }
}

.slick-dots {
    right: 0;
}

header {
    a {
        position: relative;
        span:before {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 1px;
            transform: scale3d(0, 1, 1);
            transform-origin: 0% 50%;
            transition: transform 0.5s;
            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
            background: #fff;
        }
        &:hover {
            color: #F2F2F2;
            text-decoration: none;
            span:before {
                transform: scale3d(1, 1, 1);
            }
        }
    }
}

header {
    top: -120px;

    a {
        position: relative;

        span:before {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 1px;
            transform: scale3d(0, 1, 1);
            transform-origin: 0% 50%;
            transition: transform 0.5s;
            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
            background: #fff;
        }

        &:hover {
            color: #F2F2F2;
            text-decoration: none;

            span:before {
                transform: scale3d(1, 1, 1);
            }
        }
    }

    .mc-input {
        max-width: 310px;
        background-color: transparent;
        color: #F2F2F2;
        border-color: #F2F2F2;
        &::placeholder {
            color: #F2F2F2;
        }
    }
    .icon-arrow-right {
        color: #F2F2F2;
    }
}

.nav-space-right {
    margin-right: 70px;
}

.download {
    color: #F2F2F2;
}

.pip-trigger {
    margin-right: 70px;
}

