
//
// Tablet styles
// --------------------------------------------------

.main {
    color: #B3AFAA;
}

footer #mc_embed_signup {
    position: absolute;
    right: -240px;
    transform: rotate(90deg);
    transform-origin: top left;
    top: 40px;
}
footer {
    height: 100%;
}