
//
// Tablet styles
// --------------------------------------------------

.main {
    color: #B3AFAA;
}

footer .mc_embed_signup {
    position: absolute;
    right: 15px;
    top: 40px;
}
footer {
    height: 100%;
}